#Skyddar projektet från att oönskade filer hamnar i Git.
#Ignorerar cachefiler, databaser, miljöfiler och systemfiler.
#Exempel: __pycache__/, *.db, .env, .DS_Store.

__pycache__/

*.pyc

*.db

*.sqlite

.DS_Store

.env

